- content_for :title do
  = t("title.signup")
.signup-section
  .signup-section-form
    %h2= t("devise.sign_up")
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :username, label: false, placeholder: t("activerecord.attributes.user.username"), required: true, input_html: { autocomplete: "username" }
        = f.input :email, label: false, placeholder: t("activerecord.attributes.user.email"),
          required: true,
          input_html: { autocomplete: "email" }
        = f.input :password, label: false, placeholder: t("activerecord.attributes.user.password"),
          required: true,
          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
          input_html: { autocomplete: "new-password" }
        = f.input :password_confirmation, label: false, placeholder: t("activerecord.attributes.user.password_confirmation"),
          required: true,
          input_html: { autocomplete: "new-password" }
      .form-actions.expanded.button-group.medium
        = f.button :submit, t("devise.sign_up"), class: "button medium darkcyan"

        = render "devise/shared/links"
