.app-dashboard.shrink-medium
  .row.expanded.app-dashboard-top-nav-bar
    .columns.medium-2
      .align-left
        %button.menu-icon.hide-for-medium{"data-toggle" => "app-dashboard-sidebar"}
      .app-dashboard-logo.align-right
        = link_to "Toggl", root_path
    .columns.show-for-medium
    .columns.shrink.app-dashboard-top-bar-actions
  .app-dashboard-body.off-canvas-wrapper
    = render "partial"
    .app-dashboard-body-content.off-canvas-content{"data-off-canvas-content" => ""}
      = simple_form_for(Timer.new) do |f|
        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
        .grid-x.grid-padding-x
          .cell.medium-2
            = f.input :info, label: false, placeholder: t("activerecord.attributes.timer.info"), as: :string
          .cell.medium-2
            = f.association :type, label: false, default: true
          .cell.medium-3
            = f.input :start, label: false
          .cell.medium-3
            = f.input :finish, label: false
          .cell.medium-2
            = f.button :submit, value: t("timer.index.create")
      %h2.text-center= t("timer.index.listing")
      %table.responsive-card-table.unstriped
        %thead
          %tr
            %th= t("activerecord.attributes.timer.info")
            %th= t("activerecord.attributes.timer.type_id")
            %th= t("activerecord.attributes.timer.start")
            %th= t("activerecord.attributes.timer.finish")
            %th= t("activerecord.attributes.timer.duration")
            %th= t("timer.index.action")
        %tbody
          - current_user.timers.each do |time|
            %tr
              %td{"data-label" => "Info"}= time.info
              %td{"data-label" => "Type"}= time.type.name
              %td{"data-label" => "Start"}= l(time.start, format: :long)
              %td{"data-label" => "Finish"}= l(time.finish, format: :long)
              %td{"data-label" => "Duration"}= t("timer.index.time",time: time.duration.to_s)
              %td{"data-label" => "Action"}
                = link_to timer_path(I18n.locale, time), method: :delete, data: { confirm: t('timer.index.are_you_sure') }, title: t("timer.index.delete"), 'data-toggle' => 'tooltip' do
                  %i.fi-paint-bucket

