- content_for :title do
  = t("title.login")
.login-section
  .login-section-form
    %h2= t("devise.login")
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, label: false, placeholder: t("activerecord.attributes.user.email"),
          required: false,
          autofocus: true,
          input_html: { autocomplete: "email" }
        = f.input :password, label: false, placeholder: t("activerecord.attributes.user.password"),
          required: false,
          input_html: { autocomplete: "current-password" }
        .not-shadow
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions.expanded.button-group.small
        = f.button :submit, t("devise.login"), class: "button medium coral"
        = render "devise/shared/links"
